<!DOCTYPE HTML>
<html lang="de">
<head>
	<title>IIX WS 2016/17 Prototyp</title>

	<meta charset="utf-8">
	<link href="../css/main.css" rel="stylesheet">

	<!-- Gettting Bootstrap CSS -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<!-- Getting Bootstrap JQuery -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Getting Bootstrap JS -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="../html/landing_logged_in.html">ShareScript</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="../html/profile.html"><span
						class="glyphicon glyphicon-user"></span>Profile</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="col-sm-1"></div>
		<div class="col-sm-7 col-xs-10 pull-left">
			<h3 class="text-center">Erweiterte Suche</h3>
			<form class="form-horizontal" role="form" method="get" action="./search_result.html">
				<div class="form-group">
					<label class="control-label" for="Name">Name:</label>
					<input type="text" class="form-control" id="Name" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="Keywords">Schlagwörter:</label>
					<input type="text" class="form-control" id="Keywords" placeholder="Schlagwörter">
				</div>
				<div class="form-group">°
					<label for="Semester">Semester:</label>
					<input type="text" class="form-control" id="Semester" placeholder="WS2016">
				</div>
				<div class="form-group">
					<label for="Course">Kurs:</label>
					<input type="text" class="form-control" id="Course" placeholder="Kurs">
				</div>
				<div class="form-group">
					<label for="Course">Seit Datum:</label>
					<input type="date" class="form-control" id="Date" placeholder="DD.MM.YYYY">
				</div>
				<div class="form-group">
					<input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary pull-right">
				</div>

			</form>
		</div>
	</div>

</body>
</html>