<!DOCTYPE HTML>
<html lang="de">
<head>
	<title>IIX WS 2016/17 Prototyp</title>

	<meta charset="utf-8">
	<link href="../css/main.css" rel="stylesheet">

	<!-- Getting Bootstrap JQuery -->
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Gettting Bootstrap CSS -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<!-- Getting Bootstrap JS -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/js.cookie.js"></script>
	<script src="../js/state.js"></script>
</head>
<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="../html/landing.html">ShareScript</a>
				<!-- tite has to be discussed! -->
			</div>
			<ul class="nav navbar-nav navbar-right">
				<!--       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
				<li class="logged-in"><a href="../html/profile.html"><span
						class="glyphicon glyphicon-user"></span>Profile</a></li>
				<li class="logged-in"><a onclick="logout();" href="#"><span
						class="glyphicon glyphicon-off"></span>Logout</a></li>
				<li class="logged-out"><a onclick="login();" href="#"><span class="glyphicon glyphicon-log-in"></span> Login über ZID</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="col-sm-1"></div>
		<div class="col-sm-7 col-xs-10 pull-left">
			<h3 class="text-center">Erweiterte Suche</h3>
			<form class="form-horizontal" role="form" method="get" action="./search_result.html">
				<div class="form-group">
					<label class="control-label" for="Title">Titel:</label>
					<input type="text" class="form-control" id="Title" placeholder="Titel">
				</div>
				<div class="form-group">
					<label class="control-label" for="Desc">Beschreibung enthält:</label>
					<input type="text" class="form-control" id="Desc" placeholder="Vollständig, gut Lesbar">
				</div>
				<div class="form-group">
					<label for="Keywords">Typ:</label>
					<input type="text" class="form-control" id="Keywords" placeholder="Buch/Skript/Mitschrift/...">
				</div>
				<div class="form-group">
					<label for="Semester">Semester:</label>
					<input type="text" class="form-control" id="Semester" placeholder="WS2016">
				</div>
				<div class="form-group">
					<label for="Course">Kurs:</label>
					<input type="text" class="form-control" id="Course" placeholder="Kurs">
				</div>
				<div class="form-group">
					<label for="Course">Angeboten seit Datum:</label>
					<input type="date" class="form-control" id="Date" placeholder="DD.MM.YYYY">
				</div>
				<div class="form-group">
					<input id="submit" name="submit" type="submit" value="Suchen" class="btn btn-primary pull-right">
				</div>

			</form>
		</div>
	</div>
	<script>
        if(localStorage.getItem('state') == 'logged-in') {
            login();
        } else {
            logout();
        }
	</script>
</body>
</html>