<!DOCTYPE HTML>
<html lang="de">
<head>
<title>IIX WS 2016/17 Prototyp</title>

<meta charset="utf-8">
<link href="../css/main.css" rel="stylesheet">
<link href="../css/label-left.css" rel="stylesheet">
<!-- Gettting Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Getting Bootstrap JQuery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Getting Bootstrap JS -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<script src="../js/js.cookie.js"></script>
    <script src="../js/state.js"></script>
<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../html/landing.html">ShareScript</a>
                    <!-- tite has to be discussed! -->
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <!--       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                    <li class="logged-in"><a href="../html/profile.html"><span
                        class="glyphicon glyphicon-user"></span>Profile</a></li>
                    <li class="logged-in"><a onclick="logout();" href="../html/landing.html"><span
                        class="glyphicon glyphicon-off"></span>Logout</a></li>
                </ul>
            </div>
        </nav>
	
	
	<!-- profile container -->
	<div class="center">
	<div class="margin_top">
		<div class="container-fluid" style="border: 1px solid #ddd;border-radius: 4px;margin-left: 40px;margin-right: 40px">
			<div class="vertical-align">
			<div class="col-md-7">
			<h2>Profil</h2>
			<form class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-md-3">Name: </label>
					<div class="col-md-8">
						<input id="loggedInUserName" type="text" class="form-control" placeholder="Gib deinen Namen ein.">
					</div>
				</div>	
			</form>
			<form class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-md-3" for="mtr">Matrikelnummer:</label>
					<div class="col-md-8">
						<p id="loggedInUserMatNr" class="form-control-static"></p>
					</div>
				</div>	
			</form>
			<form class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-md-3" for="telnr">Telefonnummer:</label>
					<div class="col-md-8">
						<input id="loggedInUserTelNr" type="text" class="form-control" placeholder="Gib deine Telefonnummer ein.">
					</div>
				</div>	
			</form>
			<form class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-md-3" for="email">Email:</label>
					<div class="col-md-8">
						<input id="loggedInUserMail" type="text" class="form-control" placeholder="Gib deine Email-Adresse ein.">
					</div>
				</div>	
			</form>
			<form class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-md-3" for="add">Über dich:</label>
					<div class="col-md-8">
						<textarea id="loggedInUserAdd" type="text" class="form-control" rows="5" 
						placeholder="Füge zusätzliche Informationen zu dir ein!"></textarea>
					</div>
				</div>
			</form>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-md-11">
						<button id="saveUserDataButton" type="button" class="btn btn-success btn-lg" style="float: right" 
						data-toggle="modal" data-target="#myModal" onclick="saveLoggedInUserData()">Speichern</button>
						<!-- Modal -->
						  <div class="modal fade" id="myModal" role="dialog">
							<div class="modal-dialog">
							
							  <!-- Modal content-->
							  <div class="modal-content">
								<div class="modal-header">
								  <button type="button" class="close" data-dismiss="modal">&times;</button>
								  <h4 class="modal-title">Erfolg!</h4>
								</div>
								<div class="modal-body">
								  <p>Daten wurden erfolgreich gespeichert.</p>
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
								</div>
							  </div>
							  
							</div>
						  </div>
						<!-- modal end -->
						
					</div>
				</div>
			</form>
			</div>
			
			<div class="col-md-5 trueCenter">
				<div class="container-fluid">
						<h3> <span>
							<a href="./uploads.html"> Meine Angebote </a>
							<a href="../html/upload_script.html">
								<span class="glyphicon glyphicon-upload"></span>
							</a>
						</span>
						</h3>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<script src="../js/profile.js"></script>
	<script>
        if(localStorage.getItem('state') == 'logged-in') {
            login();
        } else {
            logout();
        }
    </script>
</body>
</html>