<!DOCTYPE HTML>
<html lang="de">
<head>
<title>IIX WS 2016/17 Prototyp</title>

<meta charset="utf-8">
<link href="../css/main.css" rel="stylesheet">
<link href="../css/label-left.css" rel="stylesheet">

<!-- Gettting Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Getting Bootstrap JS -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Getting Bootstrap JQuery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="../html/landing.html">ShareScript</a>
				<!-- tite has to be discussed! -->
			</div>
			<!--     <ul class="nav navbar-nav"> -->
			<!--       <li class="active"><a href="#">Home</a></li> -->
			<!--       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a> -->
			<!--         <ul class="dropdown-menu"> -->
			<!--           <li><a href="#">Page 1-1</a></li> -->
			<!--           <li><a href="#">Page 1-2</a></li> -->
			<!--           <li><a href="#">Page 1-3</a></li> -->
			<!--         </ul> -->
			<!--       </li> -->
			<!--       <li><a href="#">Page 2</a></li> -->
			<!--     </ul> -->
			<ul class="nav navbar-nav navbar-right">
				<!--       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
				<li><a href="../html/profile.html"><span
						class="glyphicon glyphicon-user"></span>Profile</a></li>
			</ul>
		</div>
	</nav>
	<div class="center">
		<div class="margin_top">
			<div class="container-fluid" style="background-color: #f0f0f0">
				<div>
					<h2>HTML5 und CSS3 für Dummies</h2>
				</div>
				<div class="col-md-6">

				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3">Typ: </label>
						<div class="col-md-8">
							<p class="form-control-static">Buch</p>
						</div>
					</div>	
				</form>

				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3">Autor: </label>
						<div class="col-md-8">
							<p class="form-control-static">David Karlins</p>
						</div>
					</div>	
				</form>

				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3">Kurs: </label>
						<div class="col-md-8">
							<p class="form-control-static">Interface und Interaction Design</p>
						</div>
					</div>	
				</form>

				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3">Semester: </label>
						<div class="col-md-8">
							<p class="form-control-static">WS 2016</p>
						</div>
					</div>	
				</form>

				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-3">Beschreibung: </label>
						<div class="col-md-8">
							<p class="form-control-static">Mit diesem Buch lernen Sie als Webdesigner die Vorteile von HTML5 und CSS3 kennen und gezielt einzusetzen, um einzigartige Webseiten zu gestalten, die sowohl funktional sind als auch optisch etwas zu bieten haben.</p>
						</div>
					</div>	
				</form>
			
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-md-11">
							<button class="btn-success btn-lg" style="float: right">Besitzer kontaktieren</button>
						</div>
					</div>
				</form>
				</div>

				<div class="col-md-6 center">
					<img src=../../resources/script_src.jpg alt="Book Cover" width="200px">
				</div>
				
			</div>
		</div>

</body>
</html>