

<!DOCTYPE HTML>
<html lang="de">
    <head>
        <title>IIX WS 2016/17 Prototyp</title>
        <meta charset="utf-8">
        <link href="../css/label-left.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <!-- Getting Bootstrap JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Gettting Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Getting Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../js/create.js"></script>
        <script src="../js/js.cookie.js"></script>
        <script src="../js/state.js"></script>
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../html/landing.html">ShareScript</a>
                    <!-- tite has to be discussed! -->
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <!--       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                    <li class="logged-in"><a href="../html/profile.html"><span
                        class="glyphicon glyphicon-user"></span>Profile</a></li>
                    <li class="logged-in"><a onclick="logout();" href="#"><span
                        class="glyphicon glyphicon-off"></span>Logout</a></li>
                    <li class="logged-out"><a onclick="login();" href="#"><span class="glyphicon glyphicon-log-in"></span> Login über ZID</a></li>
                </ul>
            </div>
        </nav>
        <div class="center">
        <div class="margin_top">
            <div class="container-fluid" style="border: 1px solid #ddd;border-radius: 4px;margin-left: 40px;margin-right: 40px">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Eintrag bearbeiten</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Titel: </label>
                                <div class="col-md-8">
                                    <input id="title" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Typ: </label>
                                <div class="col-md-8">
                                    <select id="select-type" class="form-control">
                                        <option value="script">Skriptum</option>
                                        <option value="book">Buch</option>
                                        <option value="written">Mitschrift</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" id="author-section">
                            <div class="form-group">
                                <label class="control-label col-md-3">Autor: </label>
                                <div class="col-md-8">
                                    <input id="author" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Kurs: </label>
                                <div class="col-md-8">
                                    <input id="course" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Semester: </label>
                                <div class="col-md-8">
                                    <input id="semester" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Foto: </label>
                                <div class="col-md-8">
                                    <input id="image-chooser" type="file" class="file form-control-static">
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Beschreibung: </label>
                                <div class="col-md-8">
                                    <textarea type="text" class="form-control" rows="3" placeholder=""></textarea>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-11">
                                    <button id="uploadDataButton" type="button" class="btn btn-primary btn-md" style="float: right" data-toggle="modal" data-target="#myModal">Speichern</button>
                                    <button id="backButton" type="button" class="btn btn-default btn-md" style="float: right;margin-right: 10px;">Abbrechen</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Erfolg!</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Daten wurden erfolgreich gespeichert.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <div style="display: block; margin: auto; border: 1px solid #CCC; width: 300px; height: 300px;">
                            <img id="image" style="display: block; margin: auto; max-width: 290px; max-height: 298px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            if(localStorage.getItem('state') == 'logged-in') {
                login();
            } else {
                logout();
            }
        </script>
    </body>
</html>

